<div class="dashboard">
  <aside class="sidebar">
      <div class="logo">BCC - Ops</div>
      <nav>
          <ul>
              <li [class.active]="activeTab === 'home'" (click)="showHome()">
                  <i class="icon-home"></i> Home
              </li>
              <li [class.active]="activeTab === 'users'" (click)="activeTab = 'users'"><i class="icon-user"></i> Manage Users</li>
              <li [class.active]="activeTab === 'employees'" (click)="activeTab = 'employees'"><i class="icon-user"></i> Manage Employees</li>
              <li [class.active]="activeTab === 'invoice'" (click)="activeTab = 'invoice'"><i class="icon-invoice"></i> Generate Invoice</li>
              <li [class.active]="activeTab === 'reports'" (click)="activeTab = 'reports'"><i class="icon-report"></i> Reports</li>
              <li (click)="logout()"><i class="icon-out"></i> Log out</li>
          </ul>
      </nav>
  </aside>

  <main class="content">
      <header class="topbar">       
          <a href="#" class="pro-version" style="color:#001f73;">BCC Operational Official Home page</a>
          <div class="profile-icon"></div>
      </header><br>

      <section *ngIf="activeTab === 'home'">
          <h2 style="color:#001f73;">Today's Update</h2><br>
          <div class="summary">
              <div class="card">
                  <p>Number of Users</p>
                  <h3>{{ homeData.users }}</h3>
              </div>
              <div class="card">
                  <p>Total Bills Generated Today</p>
                  <h3>{{ homeData.bills }}</h3>
              </div>
              <div class="card">
                  <p>Amount Received Today</p>
                  <h3>₹{{ homeData.amountReceived }}</h3>
              </div>
          </div>
      </section>

      <div class="manage-users-container" *ngIf="activeTab === 'users'">
        <div class="top-controls">
          <input type="text" [(ngModel)]="searchQuery" placeholder="Search customers..." class="search-bar" />
          <div class="buttons">
            <button class="add-btn" (click)="openAddCustomerModal()">Add Customer</button>
            <button class="bulk-btn" (click)="openBulkUploadModal()">Bulk Upload</button>
          </div>
        </div><br>

        <div *ngIf="showAddCustomerModal" class="popup-overlay">
          <div class="popup-box">
            <h4>Add Customer</h4>
        
            <!-- Two-column layout -->
            <div class="form-grid">
              <!-- Left Column -->
              <div class="form-column">
                <label>Customer ID</label>
                <input [(ngModel)]="newCustomer.customerId" class="form-control" required>

                <label>Name</label>
                <input [(ngModel)]="newCustomer.name" class="form-control" required>  
        
                <label>Service Connection No</label>
                <input [(ngModel)]="newCustomer.serviceConnectionNo" class="form-control" required>
        
                <label>Email</label>
                <input [(ngModel)]="newCustomer.email" type="email" class="form-control" required>
        
                
              </div>
        
              <!-- Right Column -->
              <div class="form-column">
                <label>Phone</label>
                <input [(ngModel)]="newCustomer.phone" type="tel" class="form-control" required>

                <label>Address</label>
                <textarea [(ngModel)]="newCustomer.address" class="form-control" required></textarea>
        
                <label>Start Date</label>
                <input [(ngModel)]="newCustomer.startDate" type="date" class="form-control" required>
              </div>
            </div>
        
            <!-- Buttons -->
            <div class="form-button">
              <button class="btn save-btn" (click)="saveCustomer()">Save</button>
              <button class="btn cancel-btn" (click)="closeAddCustomerModal()">Cancel</button>
            </div>
          </div>
        </div>
        

        <div *ngIf="showBulkUploadModal" class="bulk-modal-overlay">
          <div class="bulk-modal-box">
            <h4>Upload Customers in Bulk</h4>
        
            <label for="bulkFileUpload" class="bulk-label">Select CSV File</label>
            <input id="bulkFileUpload" type="file" (change)="handleFileInput($event)" accept=".csv" class="bulk-input-file">
        
            <div class="bulk-modal-buttons">
              <button class="bulk-btn upload-bulk-btn" (click)="bulkUpload()">Upload</button>
              <button class="bulk-btn cancel-bulk-btn" (click)="closeBulkUploadModal()">Cancel</button>
            </div>
          </div>
        </div>   
        
          <!-- Edit Employee Modal -->
        <div *ngIf="showEditCustomerModal" class="popup-overlay">
          <div class="popup-box">
            <h4>Edit Customer</h4>

            <div class="form-grid">
              <!-- Left Column -->
              <div class="form-column">
                <label>Customer ID</label>
                <input [(ngModel)]="selectedCustomer.id" class="form-control" readonly>

                <label>Name</label>
                <input [(ngModel)]="selectedCustomer.name" class="form-control" required>

                <label>Email</label>
                <input [(ngModel)]="selectedCustomer.email" type="email" class="form-control" required>

                <label>Phone</label>
                <input [(ngModel)]="selectedCustomer.phone" type="tel" class="form-control" required>
              </div>

              <!-- Right Column -->
              <div class="form-column">
                <label>Address</label>
                <input [(ngModel)]="selectedCustomer.address" class="form-control" readonly>

                <label>Start Date</label>
                <input [(ngModel)]="selectedCustomer.startDate" type="date" class="form-control" readonly>
              </div>
            </div>

            <!-- Buttons -->
            <div class="form-button">
              <button class="btn update-btn" (click)="updateCustomer()">Update</button>
              <button class="btn cancel-btn" (click)="closeEditCustomerModal()">Cancel</button>
            </div>
          </div>
        </div>

        
        <table class="user-table">
          <thead>
            <tr>
              <th>Customer ID</th>
              <th>Service Conn No.</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Units</th>
              <th>Start Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of getPaginatedUsers()">
              <td>{{ user.customerId }}</td>
              <td>{{ user.serviceConnectionNo }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.unitsConsumption }}</td>
              <td>{{ user.startDate }}</td>
              <td>
                <button class="edit-btn" (click)="editUser(user)"><i class="fas fa-edit"></i></button>
                <button class="delete-btn" (click)="deleteUser(user)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table><br>
      
        <div class="pagination-controls">
          <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
          <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
          <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
        </div>
      </div>
      
      
      <div class="manage-users-container" *ngIf="activeTab === 'employees'">
        <div class="top-controls">
          <input type="text" [(ngModel)]="searchQuery1" placeholder="Search Employees..." class="search-bar" />
          <div class="buttons">
            <button class="add-btn" (click)="openAddEmployeeModal()">Add Employee</button>
          </div>
        </div><br>

        <div *ngIf="showAddEmployeeModal" class="popup-overlay">
          <div class="popup-box">
            <h4>Add Employee</h4>
        
            <!-- Two-column layout -->
            <div class="form-grid1">
              <!-- Left Column -->
              <div class="form-column1">
                <label>Employee ID</label>
                <input [(ngModel)]="newEmployee.employeeId" class="form-control" required>

                <label>Name</label>
                <input [(ngModel)]="newEmployee.name" class="form-control" required>  
        
                <label>Phone</label>
                <input [(ngModel)]="newEmployee.phone" type="tel" class="form-control" required>

                <label>Email</label>
                <input [(ngModel)]="newEmployee.email" type="email" class="form-control" required>
          
              </div>
            </div>
        
            <!-- Buttons -->
            <div class="form-button">
              <button class="btn save-btn" (click)="saveEmployee()">Save</button>
              <button class="btn cancel-btn" (click)="closeAddEmployeeModal()">Cancel</button>
            </div>
          </div>
        </div>
         
          <!-- Edit Employee Modal -->
        <div *ngIf="showEditEmployeeModal" class="popup-overlay">
          <div class="popup-box">
            <h4>Edit Employee</h4>

            <div class="form-grid1">
              <!-- Left Column -->
              <div class="form-column1">
                <label>Employee ID</label>
                <input [(ngModel)]="selectedEmployee.id" class="form-control" readonly>

                <label>Name</label>
                <input [(ngModel)]="selectedEmployee.name" class="form-control" required>

                <label>Email</label>
                <input [(ngModel)]="selectedEmployee.email" type="email" class="form-control" required>

                <label>Phone</label>
                <input [(ngModel)]="selectedEmployee.phone" type="tel" class="form-control" required>
              </div>

            </div>

            <!-- Buttons -->
            <div class="form-button">
              <button class="btn update-btn" (click)="updateEmployee()">Update</button>
              <button class="btn cancel-btn" (click)="closeEditEmployeeModal()">Cancel</button>
            </div>
          </div>
        </div>

        
        <table class="user-table">
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employees of getPaginatedEmployees()">
              <td>{{ employees.employeeId }}</td>
              <td>{{ employees.name }}</td>
              <td>{{ employees.email }}</td>
              <td>{{ employees.phone }}</td>
              <td>
                <button class="edit-btn" (click)="editEmployee(employees)"><i class="fas fa-edit"></i></button>
                <button class="delete-btn" (click)="deleteEmployee(employees)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table><br>
      
        <div class="pagination-controls">
          <button (click)="changePage1(currentPage1 - 1)" [disabled]="currentPage1 === 0">Previous</button>
          <span>Page {{ currentPage1 + 1 }} of {{ totalPages1 }}</span>
          <button (click)="changePage1(currentPage1 + 1)" [disabled]="currentPage1 === totalPages1 - 1">Next</button>
        </div>
      </div>
      
      <div class="manage-users-container" *ngIf="activeTab === 'invoice'">
        <div class="top-controls">
          <input type="text" [(ngModel)]="searchQuery1" placeholder="Search Invoice..." class="search-bar" />
          <div class="buttons">
            <button class="add-btn" (click)="openInvoiceModal()">Generate Invoice</button>
          </div>
        </div><br>

        <div *ngIf="showInvoiceModal" class="invoice-modal-overlay">
          <div class="invoice-modal-box">
            <h4 class="invoice-header">Generate Invoice</h4>
        
            <div class="invoice-form-grid">
              <!-- Left Column -->
              <div class="invoice-form-column">
                <label>Service Connection Number</label>
                <input [(ngModel)]="serviceConnectionNumber" (change)="fetchCustomerDetails()" class="invoice-input" required>

                <label>Customer Id</label>
                <input [(ngModel)]="customer.id" class="invoice-input" readonly>
        
                <label>Customer Name</label>
                <input [(ngModel)]="customer.name" class="invoice-input" readonly>
        
                <label>Customer Address</label>
                <input [(ngModel)]="customer.address" class="invoice-input" readonly>
        
                <label>Customer Phone</label>
                <input [(ngModel)]="customer.phone" class="invoice-input" readonly>
              </div>
        
              <!-- Right Column -->
              <div class="invoice-form-column">
                <label>Units Consumed</label>
                <input [(ngModel)]="unitsConsumed" (input)="calculateTotalAmount()" type="number" class="invoice-input" required>
        
                <label>Total Amount (₹)</label>
                <input [(ngModel)]="totalAmount" class="invoice-input" readonly>
        
                <label>Bill Generated Date</label>
                <input [(ngModel)]="billGeneratedDate" class="invoice-input" readonly>
        
                <label>Due Date</label>
                <input [(ngModel)]="dueDate" class="invoice-input" readonly>
              </div>
            </div>
        
            <!-- Buttons -->
            <div class="invoice-form-buttons">
              <button class="invoice-btn save-btn" (click)="saveInvoice()">Save</button>
              <button class="invoice-btn cancel-btn" (click)="closeInvoiceModal()">Cancel</button>
            </div>
          </div>
        </div>
        
        
        <table class="user-table">
          <thead>
            <tr>
              <th>Invoice ID</th>
              <th>Service Connection No</th>
              <th>Customer Name</th>
              <th>Units Consumed</th>
              <th>Total Amount</th>
              <th>Bill Date</th>
              <th>Due Date</th>
              <th>Payment Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of getPaginatedInvoices()">
              <td>{{ invoice.id }}</td>
              <td>{{ invoice.serviceConnectionNumber }}</td>
              <td>{{ invoice.user.name }}</td>
              <td>{{ invoice.unitsConsumed }}</td>
              <td>{{ invoice.totalAmount | currency:'INR' }}</td>
              <td>{{ invoice.billGeneratedDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ invoice.dueDate | date:'dd/MM/yyyy' }}</td>
              <td [ngClass]="{ 'paid': invoice.isPaid === 'Paid', 'not-paid': invoice.isPaid === 'Not Paid' }">
                {{ invoice.isPaid }}
              </td>
              <td>
                <button class="edit-btn" (click)="editInvoice()"><i class="fas fa-edit"></i></button>
                <button class="delete-btn" (click)="deleteInvoice()"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <br>
        
        <div class="pagination-controls">
          <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
          <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
          <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
        </div>
      </div>  
      
  </main>
</div>
